:root{
    --bgcolor:#231F20;
    --textcolor:#fff;
    --text-color-sec: #FFCE07;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body 
{
    font-family: 'Inter', sans-serif;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    overflow-x: hidden;
}



.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.preloader .logo{
    width:250px;
}


.loading-bg{
    height: 2367.88px;
    width: 3780px;
    left: 603.156005859375px;
    position: absolute;
    top: -20%;
    left: -30%;
    z-index: 0;
    opacity: 0.7;
    }

/*******Hero*********/

/*@media (max-width:575.98px){}**/
    

.hero{/*
    width: 100%;
    
    padding: 4rem 2rem;
    ;*/
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero-main{/*
    justify-content: center;
    gap: 10%;
    padding-top: 1rem;*/
}

nav{/*
    justify-content: center;
    gap: 40%;*/
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.burger span{
    width: 29px;
    border-radius: 6px;
    height: 3px;
    background-color: var(--bgcolor);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.links{
    display: none;
}

.hero-shape-mob{
    position: absolute;
    right: 0;
    width: 100%;
    opacity: 0.5;
    bottom: -65%;
}


.hero-icon-mob{
    position: absolute;
    z-index: 0;
}

.vue-hero-icon{
    width: 90px;
    right: 2%;
    top: 30%;
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
}
.dart-hero-icon{
    width: 70px;
    right: 20%;
    top: 20%;
    transform: rotate(78deg);
    -webkit-transform: rotate(78deg);
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -o-transform: rotate(78deg);
}

.js-hero-icon{
    width: 100px;
    right: -5%;
    top: 15%;
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    -o-transform: rotate(22deg);
}

.python-hero-icon{
    width: 60px;
    left: -5%;
    top: 23%;
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
}
.react-hero-icon{
    width: 80px;
    left: 5%;
    top: 15%;
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    -o-transform: rotate(22deg);
}
/*
.links a{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: var(--textcolor)
}*/

nav .logo{/*
    width: 80px;
    justify-self: flex-start;
    margin-left: -15%;*/
    width: 80px;
}

.hero-main{
    width: 90%;
    margin: auto;
    padding: 12rem 0 1rem;
    z-index: 2;
    position: relative
}

.hero-info{/*
    max-width: 200px;
    text-align: left;*/
}

.hero-info h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    color: var(--text-color-sec)
}

.hero-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.hero-shape-up{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.hero-shape-down{
    display: none;
    position: absolute;
    bottom: 0;
    left:0;
}

.tech-icons{
    display: none;
    z-index: 2;
}

@media (min-width: 767px) {
    

    .hero{
        width: 100%;
        height: 100vh;
        padding: 4rem 2rem;
        position: relative;
    }

    .hero-main{
        justify-content: center;
        gap: 10%;
    }

    nav{
        justify-content: center;
        gap: 40%;
    }
    .burger{
        display: none;
    }

    .links{
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    .links a{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration: none;
        color: var(--textcolor)
    }

    nav .logo{
        width: 80px;
        justify-self: flex-start;
        margin-left: -15%;
    }

    .hero-main{
        padding-top: 8rem;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .hero-info{
        max-width: 600px;
    }

    .hero-info h2{
    font-weight: 600;
    font-size: 72px;
    line-height: 87px;
    color: var(--text-color-sec);
    }

    .hero-info p{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        padding-top: 2rem;
    }

    .hero-shape-up{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        display: block;
    }

    .hero-shape-down{
        position: absolute;
        bottom: 0;
        left:0;
        display: block;
    }

    .tech-icons{
        z-index: 2;
        display: block;
        min-width: 50%;
        position: relative;
        margin-top: -10rem;
    }

    .hero-icon-lg{
        position: absolute;
        width: 150px;
    }

    .screen-hero-icon-lg{
        width: 300px;
        top: 20%;
        left: 30%;
        transform: rotate(-45deg)    ;
        -webkit-transform: rotate(-45deg)    ;
        -moz-transform: rotate(-45deg)    ;
        -ms-transform: rotate(-45deg)    ;
        -o-transform: rotate(-45deg)    ;
}

.vue-hero-icon-lg{
    left: 70%;
    top: -70px;
    transform: rotate(-18deg) scale(0.6);
    -webkit-transform: rotate(-18deg) scale(0.6);
    -moz-transform: rotate(-18deg) scale(0.6);
    -ms-transform: rotate(-18deg) scale(0.6);
    -o-transform: rotate(-18deg) scale(0.6);
}

.html-hero-icon-lg{
    left: 55%;
    top: -120px;
    transform: rotate(18deg) scale(0.8);
    -webkit-transform: rotate(18deg) scale(0.8);
    -moz-transform: rotate(18deg) scale(0.8);
    -ms-transform: rotate(18deg) scale(0.8);
    -o-transform: rotate(18deg) scale(0.8);
}

.css-hero-icon-lg{
    left: 55%;
    top: 200px;
    transform: rotate(35deg) scale(0.6);
    -webkit-transform: rotate(35deg) scale(0.6);
    -moz-transform: rotate(35deg) scale(0.6);
    -ms-transform: rotate(35deg) scale(0.6);
    -o-transform: rotate(35deg) scale(0.6);
}

.js-hero-icon-lg{
    left: 80%;
    top: 200px;
    transform: rotate(17deg) scale(1);
    -webkit-transform: rotate(17deg) scale(1);
    -moz-transform: rotate(17deg) scale(1);
    -ms-transform: rotate(17deg) scale(1);
    -o-transform: rotate(17deg) scale(1);
}

.figma-hero-icon-lg{
    left: 72%;
    top: 50px;
    transform: rotate(-30deg) scale(0.9);
    -webkit-transform: rotate(-30deg) scale(0.9);
    -moz-transform: rotate(-30deg) scale(0.9);
    -ms-transform: rotate(-30deg) scale(0.9);
    -o-transform: rotate(-30deg) scale(0.9);
}
.react-hero-icon-lg{
    left: 52%;
    top: 320px;
    transform: rotate(20deg) scale(0.9);
    -webkit-transform: rotate(20deg) scale(0.9);
    -moz-transform: rotate(20deg) scale(0.9);
    -ms-transform: rotate(20deg) scale(0.9);
    -o-transform: rotate(20deg) scale(0.9);
}

.bootstrap-hero-icon-lg{
    left: 28%;
    top: 250px;
    transform: rotate(30deg) scale(0.9);
    -webkit-transform: rotate(30deg) scale(0.9);
    -moz-transform: rotate(30deg) scale(0.9);
    -ms-transform: rotate(30deg) scale(0.9);
    -o-transform: rotate(30deg) scale(0.9);
}

.python-hero-icon-lg{
    left: 12%;
    top: 100px;
    transform: rotate(-25deg) scale(1);
    -webkit-transform: rotate(-25deg) scale(1);
    -moz-transform: rotate(-25deg) scale(1);
    -ms-transform: rotate(-25deg) scale(1);
    -o-transform: rotate(-25deg) scale(1);
}

.dart-hero-icon-lg{
    left: 2%;
    top: 220px;
    transform: rotate(-10deg) scale(0.7);
    -webkit-transform: rotate(-10deg) scale(0.7);
    -moz-transform: rotate(-10deg) scale(0.7);
    -ms-transform: rotate(-10deg) scale(0.7);
    -o-transform: rotate(-10deg) scale(0.7);
}

.folder-hero-icon-lg{
    left: 37%;
    top: -170px;
    transform: rotate(8deg) scale(0.7);
    -webkit-transform: rotate(8deg) scale(0.7);
    -moz-transform: rotate(8deg) scale(0.7);
    -ms-transform: rotate(8deg) scale(0.7);
    -o-transform: rotate(8deg) scale(0.7);
}

.cloud-hero-icon-lg{
    left: 17%;
    top: -120px;
    transform: rotate(-6deg) scale(1);
    -webkit-transform: rotate(-6deg) scale(1);
    -moz-transform: rotate(-6deg) scale(1);
    -ms-transform: rotate(-6deg) scale(1);
    -o-transform: rotate(-6deg) scale(1);
}

.node-hero-icon-lg{
    left: 17%;
    top: 10px;
    transform: rotate(-20deg) scale(0.7);
    -webkit-transform: rotate(-20deg) scale(0.7);
    -moz-transform: rotate(-20deg) scale(0.7);
    -ms-transform: rotate(-20deg) scale(0.7);
    -o-transform: rotate(-20deg) scale(0.7);
}

.bulb-hero-icon-lg{
    left: 0;
    top: -65px;
    transform: rotate(-45deg) scale(1);
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    -o-transform: rotate(-45deg) scale(1);
}
/*

    .js-hero-icon-lg{
        top: 80%;
        left: 30%;
    }
    */
    .hero-shape-mob{
        display: none;
    }

    .hero-icon-mob{
        display: none;
    }
    
}

@media (max-width: 1080px) {
    .hero-main{
        
    }
    nav {
        width: 80%;
    }
    .links{
        width: 60%;
        font-size: 1rem;
    }
    .links a{
        
        font-size: 1rem;
    }
    
    .hero-info h2{
        font-weight: 600;
        font-size: 2.6rem;
        line-height: 2.6rem;
        color: var(--text-color-sec);
        }
    
        .hero-info p{
            font-weight: 400;
            font-size: 1rem;
            line-height: 29px;
            text-transform: capitalize;
            padding-top: 2rem;
        }
    
}
    

/*********Contact*********/


.container{
    width: max-content;
    /* z-index: 999; */
}

.contact {
    background-image: url(../images/shape.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

/* contact */
.contact h2 {
    font-weight: 500;
    font-size: 64px;
}

.contact .input-box {
    width: 100%;
    height: 74px;
    border: none;
    background: #171516;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.contact .input-box-massage{
    width: 100%;
    height: 244px;
    border: none;
    background: #171516;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.contact .btn-box{
    display: contents;
}
.btn-send{
    width: 296px;
    font-size: 24px;
    height: 74px;
    background: #FFCE07;
    border-radius: 16px;
    border: none;
}
/* icons */
/* .icons-box{
    z-index: -99;
} */
.contact .figma-icon{
    left: 68rem;
    top: 32rem;
}
.contact .python-icon{
    left: 2rem;
    top: 23rem;
}
.contact .css-icon{
    left: 5rem;
    top: 28rem;
}
.contact .Laptop-icon{
    left: 67rem;
    top: 8rem;
}

/* @media (max-width:1399.98px) {}
@media (max-width:1199.98px){}
@media(max-width:991.98px) {}
@media(max-width:767.98px) {}
@media (max-width:575.98px){} */

@media(max-width:991.98px) {
    .container .title{
        text-align: center;
    }
    .container .title h2{
        font-size: 30px;
    }   
}